<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="houseAgency.Properties.Settings.pubsConnectionString"
            connectionString="Dsn=jb;uid=sa;app=Microsoft® Visual Studio® 2005;wsid=SNEAR;database=pubs"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>